<% provide(:title, "Historique des Codes Crées") %>
<!-- Permet de donner un nom à la page -->

<h1>Historique (<%= @codes.count %>)</h1>
<!--pour afficher le nombre de cours enregistrés -->

<div class="jumbotron">
	<div class="row">
	<% for code in @codes %>
		<div class="col-sm-4 col-md-3">
    		<div class="thumbnail">
    		  	<div class="caption">
    			    <h3><%= code.client%></h3>
    			    <p><%= code.environnement%></p>
                    <p><%= code.domaine%></p>
                    <p><%= code.categorie%></p>
                    <p><%= code.statut%></p>
                    


    			    <p><a href="#" class="btn btn-lg btn-default">Créer un Code</a></p>
       			</div>
    		</div>
  		</div>
	
<% end %>
	</div>
</div> <!-- conserver cette div pour entourer les docs de la class jumbotron -->