
<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<nav class="menu">

  <h1 class="name"><i class="fi-widget"></i><%= link_to "G2D2", root_path%></h1>

  <ul class="inline-list">
    <li class="active"><%= link_to "Consulter les codes", historique_path%></li>
  </ul>

  <ul class="inline-list">
    <li class="active"><%= link_to "Consulter les documents disponibles", documents_path%></li>
  </ul>


  <ul class="inline-list">
    <li class="active"><%= link_to "Créer un code", new_admin_code_path%></li>
  </ul>


  <ul class="inline-list">
    <li class="active"><%= link_to "Ajouter un document", new_admin_document_path%></li>
  </ul>



<!--Partie de droite !! -->
  <div class="nav navbar-nav navbar-right">
    <ul class="inline-list">
      <% if user_signed_in? %>
        <li><%=link_to "Déconnexion", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%=link_to "Se Connecter", new_user_session_path%></li>
        <li><%=link_to "S'inscrire", new_user_registration_path%></li>
      <% end %>      
    </ul>    
  </div>
</nav>

		       