<!DOCTYPE html>
<html>
<head>
  <title>Application de test avec Honoré</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- BOOTSTRAP/CSS chargement du fichier -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body>
	<h1> Liste des documents disponibles </h1>

	<%= render 'layouts/partials/nav' %>
	

	<%= yield %>

	<hr>

	<%= render 'layouts/partials/footer' %>

	<!-- Ce sont des partials, voir les fichiers concernés pour modifier le footer-->

	<!-- Bootstrap JavaScript-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>



</body>
</html>
