<!DOCTYPE html>
<html>
<head>
  <title>Application de test avec Honoré</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1> Liste des documents disponibles </h1>

	<%= render 'layouts/partials/nav' %>
	

	<%= yield %>

	<hr>

	<%= render 'layouts/partials/footer' %>

	<!-- Ce sont des partials, voir les fichiers concernés pour modifier le footer-->

</body>
</html>
